.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 5em;
  font-weight: bolder;
  text-align: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsible {
  background-color: rgb(196, 21, 181);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  border: 5px purple solid;
  border-radius: 10px;
}

.content {
  width: auto;
  height: auto;
  margin-top: 10px;
  border: 1px solid #686868;
  display: none;
  justify-content: center;
  border-radius: 10px;
  width: 50%;
}

.rules {
  display: flex;
  justify-content: center;
}

.show {
  display: flex;
  flex-direction: column;
}

.rows {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  border: 5px orange solid;
  width: 30%;
  flex-direction: row;
}

.one-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 5%;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #777;
  margin-right: 8px;
  border-radius: 25px;
  background-color: #F0EAED;
  /* cursor: none; */
}

/* .peg::hover {

} */

.circles-numbers{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  width: 75%;
}

.demo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 3px solid gray;
  /* background-color: #F0EAED; */
}

.input-row {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess-input-section {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

form {
  margin: 2em 0;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 18px 18px 35px #d9d9d9, -18px -18px 36px #ffffff;
}

/* input {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
} */

input {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  margin: 5px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}

.green { background: #8FBE00; }
.red { background: #E22D2D; }
.blue { background: #008C9E; }
.yellow { background: #F8CA00; }
.purple { background: #993394; }
.pink { background: #ffc0cb }
.magenta { background: #ff00ff; }
.orange { background: #ffa500 ; }
