 
/* @import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,800&display=swap'); */
 
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

.title {
  font-size: 5em;
  font-weight: bolder;
  text-align: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsible {
  background-color: rgb(196, 21, 181);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 15em;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  border: 5px purple solid;
  border-radius: 10px;
}

.content {
  height: auto;
  margin-top: 10px;
  border: 1px solid #686868;
  display: none;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  padding: 1.5em;
}

.rules {
  display: flex;
  justify-content: center;
}

.show {
  display: flex;
  flex-direction: column;
}

.description-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
}

.expectations {
  display: flex;
  /* justify-content:left; */
  flex-direction: column;
  align-items:flex-end
}

.one-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 5%;
}

.single-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2em;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #777;
  margin-right: 8px;
  border-radius: 25px;
  background-color: #f0eaed;
  color: white;
  font-weight:bolder;
}

.circles-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  width: 30rem;
  height: 100%;
  border: 10px solid turquoise;
  box-shadow: 0 10px 30px 6px magenta;
  border-radius: 20px;
}

.demo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 3px solid gray;
  /* background-color: #F0EAED; */
}

.input-row {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess-input-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 30rem;
}

form {
  margin: 2em 0;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 18px 18px 35px #d9d9d9, -18px -18px 36px #ffffff;
}

input {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  margin: 5px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}

input:disabled {
  cursor: not-allowed;
}

.green {
  background: green;
}
.red {
  background: #e22d2d;
}
.blue {
  background: blue;
}
.yellow {
  background: #eecc26;
}
.purple {
  background: purple;
}
.pink {
  background: #ffc0cb;
}
.magenta {
  background: #ff00ff;
}
.violet {
  background: violet;
}
.orange {
  background: #ffa500;
}
.indigo {
  background: indigo;
}

.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #3dd1e7;
  color: #18181a;
  display: inline-block;
  font-size: 100%;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 12px;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}


.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.results {
  border: 3px solid purple;
  width: 50%;
  height: 10em;
  border-radius: 8px;
  margin-bottom: 20px;
}

.hints-section {
  /* border: 3px solid purple; */
  width: 40px;
  height: 40px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  /* grid-row: auto auto; */
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}


.hints {
  border-bottom: 3px solid rebeccapurple;
}

.dialog-win {
  /* box-shadow: 9px 20px 30px 15px green; */
  border: 5px solid #c2e8c7;
  position: sticky;
  top: 10%;
  width: 29em;
  height: 20em;
  z-index: 11;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(#addfb3, #08d123);
  box-shadow: 18px 18px 35px #93999c, -18px -18px 36px #93999c;

}

.dialog-lose {
  /* box-shadow: 0 10px 30px 6px rgb(227, 12, 12); */
  border: 10px solid #f48181;
  position: sticky;
  top: 40%;
  width: 29em;
  height: 20em;
  z-index: 11;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(#dfadae, #d10808);
  box-shadow: 18px 18px 35px #93999c, -18px -18px 36px #93999c;

}

.win-statement, .lose-statement {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.win-or-lose {
  font-size: 3em;
}


.close {
  position: absolute;
  right: 1em;
  top: 0.5em;
  width: 2em;
  height: 2em;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.restart-button {
  border: 1px solid orange;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.full-nav-bar {
  width: 100%;
}

.description-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.difficulty-form, .basic-option, .difficult-option {
  margin: 0.5em;
  background-color: #19c5ca;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  width: 40em;
  justify-content: space-between;
}

select {
  width: 95%;
}